/.DS_Store
/.pytest_cache
/.venv
/data
/diagnostics_out
/diagnostics_out_full
/diagnostics_out_rebalanced
/diagnostics_out_rebalanced2
/diagnostics_out_rebalanced3
/play_by_play_2018.csv
/play_by_play_2019.csv
/play_by_play_2021.csv